#map {
    height: 110%;
    position: relative;
    width: 79.5%;
    margin-right: 5%;
}

.sidebar {
    float: right;
    width: 20%;
    margin-left: 0.5%;
	height: 110%;
	overflow-y:auto;
	background-color: #F2F4F4;
}

html,
body {
    height: 80%;
    width: 99%;
    margin: auto;
    padding: 0;
}

.flex-div {
    display: flex;
    align-items: center;
	background-color: #c40b0b;
	color: white;
	margin: 0;
}

nav {
    padding: 2px 1%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: static;
    top: 0;
    z-index: 10;
}


.search-box {
    border: 1px solid #c40b0b;
    margin-right: 15px;
    padding: 2% 5% 1%;
    border-radius: 10px;
	background: white;
	margin-left:4%;
	
}

.search-box input {
    border: 0;
    outline: 0;
    background: white;
    font-size: 1vw;
    padding-right: 20px;
}


/*
 * for all the things in the right of the top bar
*/

.nav-right img {
    width: 25px;
    margin-right: 2%;
}

.nav-right .initi {
    border: 1px solid #c40b0b;
    margin-right: 8%;
    padding: 2% 10px 1%;
    float: middle;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    div.nav-right .initi {
        font-size: 9px;
    }
}

.nav-right .initi input {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    div.nav-right .initi input {
        font-size: 9px;
    }
}

.filters{
	background-color: #FADBD8;
	margin-top: 3%;
	margin-bottom: 3%;
	padding:2%;
}


.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}

.custom-map-control-button:hover {
    background: #ebebeb;
}

.slidecontainer {
    width: 95%;
    /* Width of the outside container */
}


/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 15px;
    border-radius: 5px;
    background: #fadbd8;
    outline: none;
    opacity: 0.9;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5%;
    height: auto;
    padding-top: 1.5%;
    border-radius: 50%;
    background: #c40b0b;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2%;
    height: auto;
    padding-top: 2%;
    border-radius: 50%;
    background: #c40b0b;
    cursor: pointer;
}

datalist {
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-family: "Times New Roman", Times, serif;
    font-size: 1vw;
}

.btn {
    border: none;
    outline: none;
    background-color: #c40b0b;
    font-family: "Times New Roman", Times, serif;
    color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    width: 98%;
    margin-top: 3%;
	align-items: center;
}


/* Add a light grey background on mouse-over */

.btn:hover {
    background-color: #ddd;
}


/* Add a dark background to the active button */

.btn.active {
    background-color: #c40b0b;
    color: white;
}